<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="PixieMedia\ChuckNorris\Api\FactsManagementInterface" type="PixieMedia\ChuckNorris\Model\FactsManagement"/>
	<preference for="PixieMedia\ChuckNorris\Api\FactsRepositoryInterface" type="PixieMedia\ChuckNorris\Model\FactsRepository"/>
	<preference for="PixieMedia\ChuckNorris\Api\Data\FactsInterface" type="PixieMedia\ChuckNorris\Model\Data\Facts"/>
	<preference for="PixieMedia\ChuckNorris\Api\Data\FactsSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="PixieMedia\ChuckNorris\Model\ResourceModel\Facts\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">pixiemedia_chucknorris_facts</argument>
			<argument name="resourceModel" xsi:type="string">PixieMedia\ChuckNorris\Model\ResourceModel\Facts\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="pixiemedia_chucknorris_facts_listing_data_source" xsi:type="string">PixieMedia\ChuckNorris\Model\ResourceModel\Facts\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
