<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="pixiemedia_elucid" id="pixiemedia_elucid">
			<module before="Magento_Backend" name="PixieMedia_Elucid"/>
		</route>
	</router>
</config>
